<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h6>Bank Accounts <span class="text-muted">(for withdraws)</span></h6>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="bank-card">
                    <div class="left">
                        <p class="bank-icon"><i class="fa fa-bank fa-3x"></i></p>
                        <p class="bank-currency"><i class="badge badge-pill badge-light">USD</i></p>
                    </div>
                    <div class="detail">
                        <h6 class="bank-name">Wells Fargo</h6>
                        <h6 class="bank-number">02983783763</h6>
                        <h6 class="act-name">James Cameron</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bank-card-new bg-light text-dark">
                    <h6><i class="fa fa-plus-circle text-blue fa-2x"></i></h6>
                    <h6 class="mt-2">Add New Bank Account</h6>
                </div>

            </div>
            <div class="col-md-4">
                <h2>Card</h2>

            </div>
        </div>
    </div>
</div>