.bank-card-new{
    text-align: center;
    padding: 30px 15px;
    border-radius: 7px;
    background: rgb(241, 245, 246);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    
}
 .account-card-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    top: 0px;
    left: 14px;
    height: 100%;
    width: 90%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.bank-card:hover .account-card-overlay {
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
.bank-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 25px;
    color: white;
    background-color: darkorchid;;
    border-radius: 7px;
    text-align: center;
    .left{
        border-right: 1px solid white;
        padding-right: 10px;
        .bank-icon{
            color: white;
        }
        .bank-currency{
            color: #495057;

        }
    }
    // &:hover .account-card .account-card-overlay {
    //     opacity: 1;
    //     -webkit-transition: all 0.3s ease;
    //     transition: all 0.3s ease;
    // }
    .detail{
        padding-left: 10px;
        text-align: left;
        .bank-name{
            font-size: 20px;
            max-width: 130px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .bank-number{
            font-size: 15px;
            font-weight: 500;
            max-width: 130px;
            margin-bottom: 5px;
        }
        .act-name{
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 5px;
            max-width: 130px;
            color: white;
        }
    }
}