<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo text-center ">
            <a routerLink="/" class="text-light" ><b><h6 style="font-size: 1.5em;">{{appName}}</h6></b></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav> 
                <ul class="metismenu" id="menu">
                    <li (click)="closeSidebar()" routerLinkActive="active"><a routerLink="/dashboard"><i class="ti-dashboard"></i> 
                      <span>Dashboard</span></a>
                  </li>
                    <li (click)="closeSidebar()" routerLinkActive="active"><a routerLink="/fund-wallet"><i class="ti-credit-card"></i> 
                      <span>Fund Wallet</span></a>
                  </li>
                    <li (click)="closeSidebar()" routerLinkActive="active"><a routerLink="/exchange"><i class="fa fa-exchange"></i> 
                      <span>Exchange</span></a>
                  </li>
                    <li (click)="closeSidebar()" routerLinkActive="active"><a routerLink="/dispense"><i class="ti-money"></i> 
                      <span>Dispense Cash</span></a>
                  </li>
                    <li (click)="closeSidebar()" routerLinkActive="active"><a routerLink="/transactions"><i class="ti-bar-chart"></i> 
                      <span>Transactions</span></a>
                  </li>
                    <li (click)="closeSidebar()" routerLinkActive="active"><a routerLink="/user-profile" ><i class="ti-user"></i> 
                      <span>User Profile</span></a>
                  </li>
                  <!-- <li routerLinkActive="active"><a href="#"><i class="fa fa-envelope-o"></i> 
                      <span>Messages</span></a>
                  </li>
                  <li routerLinkActive="active"><a href="#"><i class="ti-bell"></i> 
                      <span>Notifications</span></a>
                  </li> -->
                    <!-- <li routerLinkActive="active"><a href="#"><i class="ti-settings"></i> 
                      <span>Setting</span></a>
                  </li> -->
                </ul>
            </nav>
        </div>
    </div>
  </div>