       <!-- page title area end -->
       <div class="main-content-inner">
            <div class="row mt-5" *ngIf="transList; else loading" >
                    <!-- trading history area start -->
                    <div class="col-lg-8 offset-lg-2">
                        <div class="card">
                                <div class="card-body">
                                    <div class="single-table">
                                        <div class="table-responsive">
                                            <table class="table text-center"  *ngFor="let tran of transList">
                                                <thead class="text-uppercase">
                                                    <tr><b>{{tran.date | date:'medium'}}</b></tr>
                                                </thead>
                                                <tbody >
                                                    <tr >
                                                        <td [ngSwitch]="tran.source">
                                                            <span *ngSwitchCase="'card'" class="fa fa-credit-card fa-2x"></span>
                                                            <span *ngSwitchCase="'wallet'" class="fa fa-exchange fa-2x"></span>
                                                            <span *ngSwitchDefault class="fa fa-money fa-2x"></span>
                                                        </td>
                                                        <td>{{transUtil.getText(tran)}}
                                                            <p>{{cunbySymbol(tran.payCun).sign || cunbySymbol(tran.recieveCun).sign}}{{tran.amount | number}}</p>
                                                        </td>
                                                        <td [ngSwitch]="tran.status">
                                                            <span *ngSwitchCase="'success'" class="status-p bg-success">success</span>
                                                            <span *ngSwitchCase="'failed'" class="status-p bg-danger">failed</span>
                                                            <span *ngSwitchDefault class="status-p bg-warning">pending</span>
                                                            
                                                        </td>
                                                    </tr>
                                                </tbody> 
                            
                                                    
                                            </table>
                                            <nav aria-label="...">
                                                <ul class="pagination">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <ng-template #loading>
                <app-loader [type]="'wave'" ></app-loader>
            </ng-template>
        </div>
                  <!-- trading history area end -->
  