<div class="main-content-inner">
    <ng-container *ngIf="walletList;else loading">
    <div class="sales-report-area my-3">
        <div class="text-right mb-2">
            <button class="btn btn-blue text-capitalize" (click)="addCurrency()" ><span class="fa fa-plus"></span> Add Currency</button>
        </div>
        <div class="row d-flex justify-content-start overflow-x-auto " style="overflow-x: auto;" *ngIf="walletList">
      
            <div class="col-md-4  col-10 currency" *ngFor="let wallet of walletList"> 
                <div class="single-report mb-xs-30  rounded" [style.background-color]="gs.getCurrencyColor(wallet.symbol).bg || 'black'">
                    <div class="s-report-inner pr--20 pt--30 mb-3">
                        <div class="icon" [style.background-color]="gs.getCurrencyColor(wallet.symbol).icon || 'grey'">{{wallet.sign}}</div>
                        <div class="s-report-title d-flex justify-content-between">
                            <h4 class="header-title mb-0 text-light">{{wallet.name}}</h4>
                         
                        </div>
                        <div class="d-flex justify-content-between pb-2">
                            <h2 class="text-light">{{wallet.sign}} {{wallet.balance | currency:" ":" " }}</h2>

                        </div>
                        <span style="font-size:3em;color:white" class="fa fa-plus-circle"></span>
                    </div>
                    <!-- <canvas id="coin_sales1" height="100"></canvas> -->
                </div>
            </div>
        </div>
    </div>
    <!--  Money-->
    <!-- row area start-->
    <div class="row mt-3">
        <!--live currency-->
    
        <!--live currency-->
               <!-- trading history area start -->
               <div class="col-lg-7 mt-sm-30 mt-xs-30">
                    <ng-container *ngIf="transList; else loadingTrans">
                        <div class="card" *ngIf="transList.length >= 1; else noTrans">
                            <div class="card-body">
                                <h4 class="header-title">Transcation History</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center"  *ngFor="let tran of transList">
                                            <thead class="text-uppercase text-left">
                                                <tr><td class=" border-0" colspan="12"><b>{{tran.date | date:'medium'}}</b></td></tr>
                                               
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" [ngSwitch]="tran.source">
                                                        <span *ngSwitchCase="'card'" class="fa fa-credit-card fa-2x"></span>
                                                        <span *ngSwitchCase="'wallet'" class="fa fa-exchange fa-2x"></span>
                                                        <span *ngSwitchCase="'bank-transfer'" class="fa fa-bank fa-2x"></span>
                                                        <span *ngSwitchDefault class="fa fa-money fa-2x"></span>
                                                    </td>
                                                    <td >
                                                            <p class="trans-text">{{transUtil.getText(tran)}}</p>
                                                            <p><b>{{cunbySymbol(tran.payCun).sign || cunbySymbol(tran.recieveCun).sign}}{{tran.amount | number}}</b></p>
                                                        </td>
                                                        <td  [ngSwitch]="tran.status">
                                                            <span *ngSwitchCase="'success'" class="status-p bg-success">success</span>
                                                            <span *ngSwitchCase="'failed'" class="status-p bg-danger">failed</span>
                                                            <span *ngSwitchDefault class="status-p bg-warning">pending</span>
                                                            
                                                        </td>
                                                </tr>
                          
                                            </tbody>

                                         
                                        </table>
                                        <h6 *ngIf="transList.length===5"><a routerLink="/transactions" class="text-info">Load More</a></h6>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <ng-template #noTrans>
                        <div class="card text-center empty-trans p-3">
                            <img src="/assets/images/no-trans.png" width="65%"
                            alt="no transaction" class="">
                       <h5 class="my-3">You haven't conducted <br> any transaction</h5>
                        </div>
                    </ng-template>
                    </ng-container>
                    <ng-template #loadingTrans>
                        <div class="card text-center py-5">
                            <i class="fa fa-spinner fa-spin fa-4x"></i>
                            <h6>Loading Transactions...</h6>
                        </div>
                    </ng-template> 
               
                  </div>
                  <!-- trading history area end -->
                  <div class="col-lg-5">
                    <div class="card">
                        <!-- <div class="card-body">
                            <h4 class="header-title">Live Currency Exchange Price</h4>
                            <hr>
                            <div class="cripto-live mt-5">
                                    <div *ngIf="!currencyRate">
                                        <img src="/assets/images/Disk.gif" alt="spinner">
                                    </div>
                                <ul *ngIf="currencyRate">
                                    <li *ngFor="let currency of newCurrencyArray">
                                        <div class='{{currency.class}}'>{{currency.sign}}</div> {{currency.currency}} 
                                        <span>{{currency.rate | currency:currency.symbol }}</span></li>
                           
                                </ul>
                            </div>
                        </div> -->
                    </div> 
                </div>
    </div>

    <!--blog and exchange-->
      <!-- <div class="row mt-5">
                          <div class="col-xl-6 mt-md-30 mt-xs-30 mt-sm-30">
                                  <div class="card">
                                      <div class="card-body">
                                          <h4 class="header-title">Exchange</h4>
                                          <div class="exhcange-rate mt-5">
                                              <form action="#">
                                                  <div class="input-form">
                                                      <input type="text" value="0.76834">
                                                      <span>BTC</span>
                                                  </div>
                                                  <div class="exchange-devider">To</div>
                                                  <div class="input-form">
                                                      <input type="text" value="5689.846">
                                                      <span>USD</span>
                                                  </div>
                                                  <div class="exchange-btn">
                                                      <button type="submit">Exchange Now</button>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
      </div> -->
    <!--blog and exchange-->
    </ng-container>
    <ng-template #loading>
        <app-loader [type]="'wave'" ></app-loader>
    </ng-template>
</div>