.sales-report-area .row {
    flex-wrap: nowrap !important;
}
.scroll-container::-webkit-scrollbar {
    height:  3px;
    background-color: #F5F5F5;
  }
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: grey;
  }
  .scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }