<div *ngIf="type==='clockwise-fade'" class="la-line-spin-clockwise-fade {{classes}}">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
<div *ngIf="type==='clip-rotate'" class="d-flex justify-content-center">
	<div  class="la-ball-clip-rotate {{classes}}">
		<div></div>
	</div>
</div>


<div *ngIf="type==='wave'" class=" d-flex justify-content-center  py-10 ">
	<div  class="la-line-scale-pulse-out la-3x">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>