/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap.min.css";
@import "./assets/css/themify-icons.css";
@import url( "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css");
@import "./assets/css/style.css";
@import "./assets/dashboard/css/styles.css";
@import '~ngx-toastr/toastr';
body{
    font-family: 'Mukta', sans-serif !important;
}
.form-control{
    box-shadow: none !important;
}
.p-75x {
    padding: 75px 0 0;
}
.text-purple{
    color: #995690 !important;
} 
.ft-medium{
    font-size: 5rem !important;
}
.text-bold{
    font-weight: bold;
}
.py-10{
    padding: 13% 0px;
}
.ft-weight-400 {
    font-weight: 400 !important;
}
.btn-blue{
    background-color: #007bff !important;
    color: white;
}
.text-blue{
    color: #007bff !important;
}
.trans-text {
    width: 230px;
    text-align: center !important;
}
.is-clickable{
    cursor: pointer;
}
.text-elips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .empty-trans{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-group{
    select.form-control{
        height: inherit !important;
    }
}